<div class="row">
  <div class="col-md-5">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let recipe of recipes" (click)="selectRecipe(recipe)" [class.active]="recipe === selectedRecipe">
        {{ recipe.title }}
      </li>
    </ul>
  </div>
  <div class="col-md-5 col-md-offset-2" *ngIf="selectedRecipe">
    <app-recipe-details [Recipe]="selectedRecipe" [deleteHandler]="deleteRecipe.bind(this)" [addHandler]="addRecipe.bind(this)"
      [updateHandler]="updateRecipe.bind(this)">
    </app-recipe-details>
  </div>
</div>
