<div class="row">
  <div class="col-md-12">
    <h2>
      Rejestracja
    </h2>
  </div>
</div>
<div class="row">
  <form action="" class="col-md-12">
    <div class="form-group">
      <label for="user-login">Login</label>
      <input type="text" class="form-control" name="user-login" placeholder="Login" [(ngModel)]="User.login">
    </div>

    <div class="form-group">
      <label for="user-password">Hasło</label>
      <input type="text" class="form-control" name="user-password" placeholder="Password" [(ngModel)]="User.password">
    </div>

    <div class="form-group">
      <label for="user-name">Imię</label>
      <input type="text" class="form-control" name="user-name" placeholder="Name" [(ngModel)]="User.name">
    </div>

    <div class="form-group">
      <label for="user-lastname">Nazwisko</label>
      <input type="text" class="form-control" name="user-lastname" placeholder="Lastname" [(ngModel)]="User.lastname">
    </div>

    <div class="form-group">
      <label for="user-mail">Mail</label>
      <input type="text" class="form-control" name="user-mail" placeholder="Mail" [(ngModel)]="User.mail">
    </div>

    <button class="btn btn-primary" (click)="addUser(User)">
      Zarejestruj
    </button>
  </form>
</div>
