<div class="row">
  <div class="col-md-5">
    <ul class="list-group">
      <ng-content *ngFor="let recipe of recipes">
        <li class="list-group-item" *ngIf="show(recipe)" (click)="showRecipe(recipe)">
          {{ recipe.title }}
        </li>
      </ng-content>
    </ul>
  </div>
</div>
