<header class="row">
  <nav class="col-md-8 col-md-offset-2">
    <ul class="nav nav-pills">
      <li routerLinkActive="active">
        <a [routerLink]="['/users']">Przepisy</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/recipes']">Mój profil</a>
      </li>
      <li routerLinkActive="active" *ngIf="isLogged()">
        <a [routerLink]="['/logout']">Wyloguj</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
