<div class="row">
  <div class="col-md-12">
    <h2 *ngIf="User._id">
      User Details
    </h2>
    <h2 *ngIf="!User._id">
      Dodaj użytkownika
    </h2>
  </div>
</div>
<div class="row" *ngIf="User">
  <form action="" class="col-md-12">
    <div class="form-group">
      <label for="user-login">Login</label>
      <input type="text" class="form-control" name="user-login" placeholder="Login" [(ngModel)]="User.login">
    </div>

    <div class="form-group">
      <label for="user-password">Password</label>
      <input type="text" class="form-control" name="user-password" placeholder="Password" [(ngModel)]="User.password">
    </div>

    <div class="form-group">
      <label for="user-name">Name</label>
      <input type="text" class="form-control" name="user-name" placeholder="Name" [(ngModel)]="User.name">
    </div>

    <div class="form-group">
      <label for="user-lastname">Lastname</label>
      <input type="text" class="form-control" name="user-lastname" placeholder="Lastname" [(ngModel)]="User.lastname">
    </div>

    <div class="form-group">
      <label for="user-mail">Mail</label>
      <input type="text" class="form-control" name="user-mail" placeholder="Mail" [(ngModel)]="User.mail">
    </div>

    <div *ngIf="User._id">
      <button class="btn btn-primary" (click)="updateUser(User)">
        Aktualizuj
      </button>
      <button class="btn btn-danger" (click)="deleteUser(User)">
        Usuń
      </button>
    </div>
    <button *ngIf="!User._id" class="btn btn-success" (click)="addUser(User)">
      Dodaj
    </button>
  </form>
</div>
