<div class="row">
  <form [formGroup]="form" (ngSubmit)="signin()">
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" formControlName="login" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" formControlName="password" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">
      Zaloguj
    </button>


  </form>
</div>
