<header class="row">
  <nav class="col-md-8 col-md-offset-2">
    <ul class="nav nav-pills">
      <li routerLinkActive="active">
        <a [routerLink]="['/recipes/list']">Wszystkie przepisy</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/recipes/list']" [queryParams]="{ fav: true }">Ulubione przepisy</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/recipes/list']" [queryParams]="{ own: true }">Moje przepisy</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/recipes/add']">Dodaj przepis</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
