<div class="row">
  <div class="col-md-5">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of users" (click)="selectUser(user)" [class.active]="user === selectUser">
        {{user.name}}
      </li>
    </ul>
  </div>
  <div class="col-md-5 col-md-offset-2" *ngIf="selectedUser">
    <app-user-details [User]="selectedUser" [deleteHandler]="deleteUser.bind(this)" [addHandler]="addUser.bind(this)" [updateHandler]="updateUser.bind(this)">
    </app-user-details>
  </div>
</div>
