<header class="row">
  <nav class="col-md-8 col-md-offset-2">
    <ul class="nav nav-pills">
      <li routerLinkActive="active">
        <a [routerLink]="['list']">Wyświetl przepisy</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['add']">Dodaj przepisy</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['search']">Wyszukaj przepisy</a>
      </li>
    </ul>
  </nav>
</header>
<div class="row spacing">
  <router-outlet>
  </router-outlet>
</div>
