<div class="row" *ngIf="Recipe">
  <div class="col-md-12">
    <h2>
      Dodaj przepis
    </h2>
  </div>
</div>
<div class="row" *ngIf="Recipe">
  <form action="" class="col-md-12">
    <div class="form-group">
      <label for="recipe-title">Title</label>
      <input type="text" class="form-control" name="recipe-title" placeholder="Title" [(ngModel)]="Recipe.title">
    </div>
    <div class="form-group">
      <label for="recipe-content">Content</label>
      <input type="text" class="form-control" name="recipe-content" placeholder="Content" [(ngModel)]="Recipe.content">
    </div>
    <div class="form-group">
      <label for="recipe-category">Category</label>
      <input type="text" class="form-control" name="recipe-category" placeholder="Category" [(ngModel)]="Recipe.category">
    </div>

    <div *ngIf="Recipe._id">
      <button class="btn btn-primary" (click)="updateRecipe(Recipe)">
        Aktualizuj
      </button>
      <button class="btn btn-danger" (click)="deleteRecipe(Recipe)">
        Usuń
      </button>
    </div>
    <button *ngIf="!Recipe._id" class="btn btn-success" (click)="addRecipe(Recipe)">
      Dodaj
    </button>
  </form>
</div>
